/* Navigation Styling */
/* Navigation Styling */
/* Base styles */
body {
    font-family: Arial, sans-serif;
    color: rgb(255, 249, 249);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #c90303;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .nav-links {
        display: grid;
        flex-direction: column;
        width: 100%;
        text-align: right;

    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}

html, body {
    height: 100%;
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: rgb(255, 249, 249);
}

body {
    background-image: url('https://i.postimg.cc/fWxzGGXD/Whats-App-Image-2025-08-25-at-00-06-16-d7c4a0e4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the image is in front of other content */
}

.content-section {
    margin: 20px; 
    padding: 15px; 
    border: 0px #dddddd00; 
    color: rgb(255, 249, 249);
}

@media (max-width: 768px) {
    body {
        background-image: url('https://i.postimg.cc/5y3qTPb1/por.jpg');
        background-size: cover ; /* or 'contain' if you want the whole image visible */
        background-position: center top; /* adjust as needed */
        
    }
}